apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: laravel-storage-pvc-fss
  namespace: laravel-prod-ahm
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: oci-fss
